<div class="modal-container">
  <div [style.height]="height" [style.width]="width" class="modal bg-white" [@enterTransition]>
    <div class="flex-between margin-bottom-l">
      <i class="icons8-delete grey-dark visibility-hidden"></i>
      <div class="blue semi-bold page-title">Inscription</div>
      <i class="icons8-delete dark-grey cursor-pointer" (click)="close()"></i>
    </div>
    <div class="modal-content">
      <ng-content select="[popup-content]"></ng-content>
    </div>
  </div>
</div>
<div class="modal-background"></div>