/*!
 * Icon Font Discovery
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: "Discovery";
  src: url("../fonts/Discovery.eot");
  src: url("../fonts/Discovery.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Discovery.woff2") format("woff2"),
  url("../fonts/Discovery.woff") format("woff"),
  url("../fonts/Discovery.ttf") format("truetype"),
  url("../fonts/Discovery.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Discovery";
    src: url("../fonts/Discovery.svg#Discovery") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8-cancel:before,
.icons8-sort-down:before,
.icons8-delete:before,
.icons8,
[data-icons8]:before {
  display: inline-block;
  font-family: "Discovery";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.icons8-cancel:before {content: "\f103";}
.icons8-sort-down:before {content: "\f104";}
.icons8-delete:before {content: "\f105";}
