.checkbox-container {
  margin: 8px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.secondary-button:hover {
  color: var(--color-darker-blue);
  border-color: var(--color-darker-blue);
}

.spin {
  animation: spin 1500ms linear infinite reverse;
}

.text {
  text-align: center;
}
