// Icons
// -------------------------

.icons8-cancel:before,
.icons8-sort-down:before,
.icons8-delete:before,
[data-icons8]:before {
  @include icons8-font;
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8-cancel:before {content: $icons8-var-cancel;}
.icons8-sort-down:before {content: $icons8-var-sort-down;}
.icons8-delete:before {content: $icons8-var-delete;}
