:root {
  --color-blue: #6a00ce;
  --color-light-blue: #4c32e2;
  --color-lighter-blue: #c989f3;
  --color-darker-blue: #530d82;
  --color-border-lighter: #cacaca;
  --color-grey: #999999;
  --color-dark-grey: #777777;
  --color-very-dark: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-success: #3aaa35;
  --color-error: #d71547;

  --big-title: 35px;
  --page-title: 30px;
  --subtitle-text: 28px;
  --label: 26px;

  --big-title-xs: 28px;
  --page-title-xs: 26px;
  --subtitle-text-xs: 25px;
  --label-xs: 24px;

  --space: 30px;

  --xs: 14px;
  --s: 18px;
  --m: 22px;
  --l: 26px;
  --xl: 30px;
}
