:root {
  --color-blue: #6a00ce;
  --color-light-blue: #4c32e2;
  --color-lighter-blue: #c989f3;
  --color-darker-blue: #530d82;
  --color-border-lighter: #cacaca;
  --color-grey: #999999;
  --color-dark-grey: #777777;
  --color-very-dark: #333333;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-success: #3aaa35;
  --color-error: #d71547;

  --big-title: 25px;
  --page-title: 20px;
  --subtitle-text: 18px;
  --label: 16px;

  --big-title-xs: 18px;
  --page-title-xs: 16px;
  --subtitle-text-xs: 15px;
  --label-xs: 14px;

  --space: 20px;

  --xs: 4px;
  --s: 8px;
  --m: 12px;
  --l: 16px;
  --xl: 20px;
}
