<app-popup *ngIf="!successPopup" [height]="windowWidth > 900 ? '400px' : '60%'"
  [width]="windowWidth > 900 ? '400px' : '85%'" [title]="'Connexion'"
  (closePopup)="closeModal()">
  <div popup-content class="popup-content label dark-grey">
    <div class="align-left flex-page">
      <div>
        <div class="title very-dark medium-text">jksj</div>
        <div class="input input-login input-get-ids">
          <input
            [ngClass]="{'border-error' : formError === '1-1.Authentication.InstitutionCodeRequired' || formError === '1-1.Authentication.InstitutionCodeFormat'}"
            id="clientCode" type="tel" pattern="[0-9]*" maxlength="4" (keypress)="keyPress($event)"
            [(ngModel)]="clientCode" />
          <div class="clear" (click)="clearClientCode()">
            <i class="icons8-cancel"></i>
          </div>
        </div>
      </div>


      <div>
        <div class="title very-dark medium-text">lksldk</div>
        <div class="input input-login input-get-ids">
          <input id="email" type="email" placeholder="email"
            (keypress)="keyPress($event, false)" [(ngModel)]="email"
            [ngClass]="{'border-error' : formError === '1-1.Authentication.EmailRequired' || formError === '1-1.Authentication.EmailFormat'}" />
          <div class="clear" (click)="clearEmail()">
            <i class="icons8-cancel"></i>
          </div>
        </div>
      </div>

      <div>
        <div class="title very-dark medium-text">lkkd</div>
        <form action="#" class="radio-container">
          <div>
            <input type="radio" id="student" name="radio-group" value="1" [(ngModel)]="personType"
              checked>
            <label for="student">kkdjkq</label>
          </div>
          <div>
            <input type="radio" id="trainer" name="radio-group" value="2" [(ngModel)]="personType">
            <label for="trainer">ldld</label>
          </div>
          <div>
            <input type="radio" id="manager" name="radio-group" value="3" [(ngModel)]="personType">
            <label for="manager">lk}</label>
          </div>
        </form>
      </div>

      <div class="error center" [ngClass]="{'visibility-hidden' : !formError}">
        <span *ngIf="formError">jjj</span>
        <span *ngIf="!formError">&nbsp;</span>
      </div>

      <div class="secondary-button"
        [ngClass]="email && email.length > 1 && email.match(emailPattern) && clientCode && clientCode.length === 4 ? 'completed-button' : 'disabled-button'"
        (click)="requestCode()">
        lmllko
      </div>
    </div>
  </div>
</app-popup>

<app-popup *ngIf="successPopup" [width]="windowWidth > 900 ? '400px' : '85%'"
  (closePopup)="closeModal()">
  <div popup-content class="popup-content label dark-grey center">
    <div class="semi-bold subtitle-text">envoyed
      <span class="blue">email</span>
    </div>
    <div class=margin-top-m>
      oui
    </div>
  </div>
</app-popup>

<app-popup *ngIf="errorPopup" [width]="windowWidth > 900 ? '400px' : '85%'"
  (closePopup)="closeErrorModal()">
  <div popup-content class="popup-content label dark-grey center">
    <ng-container *ngIf="errorType !== 'ApiError'">
      <div class="semi-bold subtitle-text error">
        email
      </div>
      <div class="dark-grey margin-top-s">
        sheesh
      </div>
    </ng-container>

    <ng-container *ngIf="errorType === 'ApiError'">
      <div class="semi-bold subtitle-text error">
        non
      </div>
      <div class="dark-grey margin-top-s">
      yes
      </div>
    </ng-container>
  </div>
</app-popup>

<popup-loading *ngIf="loading"></popup-loading>